extends layouts/master

block content

		#container.container
			#camera.threed(style='transform: translate3d(0px, -150px, 0px) rotateZ(180deg) rotateY(180deg)')
				#hud.threed
					#locationbar.threed
					#bookmarks.threed
					//-
						ul#bookmarks.threed
							li.bookmark.threed Test
							li.bookmark.threed Test 2
							li.bookmark.threed Test 3
